{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <ul>
        {% if category.parent %}
            <li>
                <a href="{{ path('category_show', {id: category.parent.id}) }}">
                    Назад
                </a>
            </li>
        {% endif %}

        {% for subcategory in category.subcategories %}
            <li>
                <a href="{{ path('category_show', {id: subcategory.id}) }}">
                    {{ subcategory.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="card-deck product">
        {% for product in category.products %}
            {{ include('product/list.html.twig', {'product':product}) }}

        {% endfor %}
    </div>
{% endblock %}

{% block title %}
    {{ category.name }}
{% endblock %}
