
{% block body %}
{% if user %}
    <div class="btn-group dropleft">
        <button type="btn-group dropleft" id="b1" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('profile') }}">Мой профиль</a>
            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Выйти</a>
        </div>
    </div>
    {% else %}
    <a class="nav-link"  href="{{ path('fos_user_registration_register') }}">Зарегестрироваться</a>
        <p> </p>
    <a  class="nav-link" href="{{ path('fos_user_security_login') }}">Войти</a>
    {% endif %}
{% endblock %}

