<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="
                    {%- if product.imageName -%}{{ vich_uploader_asset(product,'imageFile') | imagine_filter('squared_product_thumbnail') }}
                    {%- else -%} //placehold.it/300x300
                    {%- endif -%}
                                 " alt="{{ product.title }}">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('product_show', {id: product.id}) }}">
                {{ product.title }}
            </a>
        </h5>
        <p class="card-text">{{ product.price }}</p>
        <p class="card-text">{{ product.description }}</p>
    </div>
    <div class="card-footer">
        <a href="{{ path('order_add_to_cart', {'id': product.id}) }}"
           class="btn btn-primary js-add-to-cart">Добавить в корзину</a>
    </div>
</div>