{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}

<h1>{{ product.title }}</h1>


    <p>Цена: {{ product.price }}</p>
    <hr>
    <p>{{ product.description }}
        <p><img src="{{ asset(product.image) }}"> </p>

{% endblock %}
