<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body >
    <nav class="navbar navbar-expand-md navbar-light  fixed-top" style="background-color: #2dcc25;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/category">Category</a>
                </li>
                <li class="nav-item dropdown">

                    {{ render(controller('App\\Controller\\CategoryController:menu')) }}
                   {# <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/register/form">Register</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="/about">О нас</a>
                    </div>
                    #}
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="nav-item">
       <span class="navbar-text">
           {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
       </span>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('fos_user_security_logout') }}" class="nav-link">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('fos_user_security_login') }}" class="nav-link">
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('fos_user_registration_register') }}" class="nav-link">
                            {{ 'layout.register'|trans({}, 'FOSUserBundle') }}

                        </a>
                    </li>
                {% endif %}
                <li class="nav-item ">

                <a href="/admin" color="red" class="nav-link" >Админка</a>
                </li>
                <li class="nav-item ">

                <a href="{{ path('show_to_cart') }}" class="nav-link">Oформить заказ</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

            <span class="navbar-text cart " id="header-cart" data-href="{{ path('order_header_cart') }}">
               {# {{ render(controller('App\\Controller\\OrderController:headerCart')) }} #}
                {{ render(url('order_header_cart')) }}
            </span>

        </div>
    </nav>

    <main role="main" class="container" >

        {% block body %}{% endblock %}

    </main><!-- /.container -->


    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
