{% extends 'base.html.twig' %}

{% block body %}
    <h1>Корзина</h1>
    <h2>{{ cart.user }}</h2>
    <table class="table">
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Стоимость</th>
        </tr>

        {# @var item \App\Entity\OrderItem #}
        {% for item in cart.items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantityOfOrder }}</td>
                <td>{{ item.total }}</td>
            </tr>
        {% endfor %}

        <tr>
            <th colspan="3">Всего</th>
            <th>{{ cart.amout }}</th>
        </tr>
    </table>
{% endblock %}

